body {
    font-family: Arial, sans-serif;
    background-color: #cb7fe4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #aa7cc7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #e09fe2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #7b9bbe;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #211d1d;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
